/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*/bin/*
*/obj/*
.vs/FrontOrigins/FileContentIndex
.vs/ProjectEvaluation
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FrontOrigins/v17
.vs/FrontOrigins
frontorigins.webapi/obj
frontorigins.Shared/obj
frontorigins.Domain/entities/BusinessEquitement.cs
frontorigins.webapi/Controllers/HomeController.cs
frontorigins.sln
